@CHARSET "UTF-8";


.todo2 {
	color:red;
}

.input-append .btn.dropdown-toggle {
    float: none;
}

.fu {
	background-color: green;
}


.text-align-left{
  /* text-align:right; */
  text-align:left;
  background-color:#ffa;
}

.colours-green{
	background-color: green;
}
.colours-red {
	background-color: red;
}
